.conteiner-habilidades{
    text-align: center;
    justify-content: center;
}

.habilidade{
    max-width: 350px;
    padding: 40px 20px;
}

.habilidade .logo i,
.habilidade h3,
.habilidade p{
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.habilidade .logo i{
    font-size: 8rem;
}

.habilidade h3{
    color: var(--cor-animacoes);
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
}

.habilidade p{
    font-size: 1.8rem;
    font-family: var(--fonte-secundaria);
}