@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html{
    color: var(--cor-textos);
    font-size: 62.5%;
    font-weight: 300;
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-fundo-backgroud);
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-normal);
}

.conteiner{
    max-width: 1140px;
    margin: auto;
}

.display-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.alinhar-itens-no-centro{
    align-items: center;
}
