:root{
  --cor-background: #070607;
  --cor-background-header: #2A3740;
  --cor-textos: #FFF; 
  --cor-animacoes: #F24B4B;
  --cor-animacoes-02: #A2D4F2;
  --cor-fundo-escuro: #04020350;
}

:root{
  --fonte-primaria: 'Poppins', sans serif;
  --fonte-secundaria: 'Raleway', sans serif;
  --fonte-gigante: 4.5rem;
  --fonte-extra-grande: 3rem;
  --fonte-grande: 2.5rem;
  --fonte-normal: 1.6rem;
}
  
:root{
  --mobile-padding: 30px;
}
